<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Add Blog</title>
  </head>
  <body>
    <%- include("./partials/nav")%>

    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="image" class="form-label">Upload Cover Image</label>
          <input
            type="file"
            class="form-control"
            id="coverImageURL"
            name="coverImageURL"
          />
        </div>

        <div class="mb-3">
          <label for="title" class="form-label">Blog Title</label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>

        <div class="mb-3">
          <label for="title" class="form-label">Blog Body</label>
          <div class="form-floating">
            <textarea
              class="form-control resize-none"
              id="body"
              name="body"
            ></textarea>
          </div>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Add Blog</button>
        </div>
      </form>
    </div>

    <%- include("./partials/script") %>
  </body>
</html>
